
<!-- <h1>Student table</h1>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.surname}}</td>
      <td> <button (click)="editStudent(student)">Edit</button>
        <button (click)="deleteStudent(student)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="addNewStudent()">Add new student</button>
<br> -->
<!-- <button (click)="editStudent()">Edit student</button>
<br> -->


